<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4><%= t('awesome.forms.errors.header').html_safe %></h4>
  <%= t('awesome.forms.errors.body').html_safe %>
</div>
