    <% if errors.present? %>
      <span class="help-inline">
        <%= errors %>
      </span>
    <% end %>
    <% if help.present? %>
      <span class="help-block">
        <%= help %>
      </span>
    <% end %>
  </div>
</div>
